@import "@st/mixins";

.header{
  padding: 20px 120px 0px 120px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 16px;

    > div{
      width: 100%;
    }
  }

  &__title{
    font-family: Dela Gothic One;
    font-size: 36px;

    color: #606B47;

    text-align: center;
  }

  &__menu{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }

  &__icon path{
    fill: #fff;
  }
}

@include desktop-bp{
  .header{
    height: 110px;

    &__wrapper{
      &_splitter{
        border-bottom: 1px solid #ADADAD;
      }
    }
  }
}

@include mobile-bp{
  .header{
    padding: 8px 10px 0px 10px;

    &__title{
      font-size: 20px;
    }
  }
}