@import "@st/mixins";

.container{
  display: flex;
  flex-direction: column;

  background-color: #5F7F68;

  &__center{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-family: Dela Gothic One;
    font-size: 64px;

    color: #fff;
  }

  &__menu{
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 37px;
  }
}

@include mobile-bp{
  .container{
    &__title{
      font-size: 48px;
    }
  }
}