@import "@st/mixins";

.container{
  display: flex;
  flex-direction: column;

  &__line{
    display: flex;

    &_margined{
      margin-top: 20px;
    }
  }

  &__rect{
    width: 285px;
    height: 200px;

    border: none;
    border-radius: 16px;

    transition: .25s;

    &:hover{
      cursor: pointer;
    }

    &_margined{
      margin-left: 20px;
    }
  }
}

@media only screen and ( max-height: 900px ){
  .container{
    &__rect{
      width: 235px;
      height: 150px;
    }
  }
}

@include mobile-bp{
  .container{
    &__rect{
      width: 145px;
      height: 80px;
    }
  }
}