.container{
  display: flex;

  &__outerRect{
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    width: 295px;

    transition: .25s;
  }

  &__innerRect{
    aspect-ratio: 1 / 1;
    width: 55px;

    transition: .25s;
  }
}