@import "@st/mixins";

.container{
  display: flex;

  &__outerRect{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 295px;
    height: 295px;

    transition: .25s;
  }

  &__innerRect{
    width: 55px;
    height: 55px;

    transition: .25s;
  }
}

@include mobile-bp{
  .container{
    &__outerRect{
      width: 150px;
      height: 150px;
    }

    &__innerRect{
      width: 54px;
      height: 54px;
    }
  }
}