.overlay{
  position: absolute;
  left: 0px;
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  transition: .25s;
  background-color: rgba( 0, 0, 0, 0.8 );
  z-index: 91;

  &_hidden{
    visibility: hidden;
    opacity: 0;
  }
}