@import "@st/mixins";

.circle{
  width: calc( 32px + 1em );
  height: calc( 32px + 1em );

  padding: 16px;
  border-radius: 50%;
}

@include mobile-bp{
  .circle{
    width: 1em;
    height: 1em;
  }
}