@import "@st/mixins";

.regular{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;
  border: none;

  background-color: #E6B030;
  color: #fff;

  font-family: inherit;

  transition: .25s;

  &:hover{
    background-color: #E69E3D;

    cursor: pointer;
  }

  &:active{
    background-color: #E78400;
  }

  &:disabled{
    background-color: #E8E8E8;
    color: #D6D6D6;

    transition: none;

    cursor: default;
  }

  &_square{
    border-radius: 5px;
  }

  &_rounded{
    border-radius: 50px;
  }

  &__left{
    display: inline-flex;

    margin-right: 12px;
  }

  &__right{
    display: inline-flex;

    margin-left: 12px;
  }
}

@include desktop-bp{
  .regular{
    font-size: 20px;
  }
}

@include mobile-bp{
  .regular{
    padding: 8px 16px;
  }
}